body{
    background-color: aliceblue;
}
.App{
    color: brown;
}
.pointer-list{
    background-color:rgb(207, 227, 245);
    min-height: 5rem;
    max-height: 7rem;
    overflow-y: auto;
}
.pointer-list-item{
    color: blueviolet;
    font-size: 1.5rem;
}